// SASS for your album collection view

.album-row-container{
	margin: 55px 0 25px 0;
}

.thumbnail{
	background-color: transparent;
	border: none;
	padding: 8px 8px 0 8px;
}


h3 {
	@include font-open-sans(300);
	font-size: 16px;
	color: white;
	text-align: left;
	line-height: 0.6;
}

h4 {
	@include font-open-sans(300);
	font-size: 16px;
	color: rgba(white, .6);
	text-align: left;
}

.thumbnail:hover {
	background-color: rgba(white, .2);	
}