// SASS for your album collection view

.album-row-container{
	margin: 55px 0 25px 0;
  
  .thumbnail{
	background-color: transparent;
	border: none;
	padding: 8px 8px 0 8px;
    &:hover {
	    background-color: rgba(white, .2);	
      }
  }
  input {
    &[type="text"]{
      background-color: white;
    }
  }

  h3 {
	@include font-open-sans(300);
	font-size: 16px;
	color: white;
	text-align: left;
	line-height: 0.6;
    }

  h4 {
	@include font-open-sans(300);
	font-size: 16px;
	color: rgba(white, .6);
	text-align: left;
    } 
}

.collection-album-image-container{
  position: relative;
  
  img {
    max-width: 100%;
  }
}

.collection-album-image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  z-index:10;
}

.collection-overlay-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

a.collection-overlay-button {
  color: #E5297F;
}
.collection-overlay-button {
  $button-pink: #E5297F;
  $overlay-button-size: 45px;
  font-size: 20px;
  
  background-color: white;
  color: $button-pink;
  border-radius: 50% 50%;
  
  display: inline-block;
  width: $overlay-button-size;
  height: $overlay-button-size;
  
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $button-pink;
  }
  
  i {
    line-height: $overlay-button-size;
  }
  .fa-play {
    padding-left: 5px;
  }
}