extends layouts/player_layout

block content
  .container.album-collection(ng_controller="AlbumCollection.controller")
    .row.album-row-container
        .col-md-2(ng_repeat="album in Albums")
          .thumbnail
            a(href="/album"): img(ng_src="{{album.albumArtUrl}}")
            .caption
              a(href="/album"): h3 {{ album.name }}
              a(href="/album"): h4 {{ album.artist }}
              a(href="/album"): h4 {{ album.songs.length }}
              a(href="{{album.url()}}"): h4{{ album.metaInfo() }}
